.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2ae2e;
  .movie-price-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
